@use "../../../../../../styles/sw-variables" as *;
@use "@oblique/oblique/styles/scss/core/variables" as *;

// Cannot use oblique grid because it doesn't allow auto-scaling for the last column
.entity-name {
  display: grid;
  gap: $ob-spacing-default;
  grid-template-columns: 50% 1fr auto;
}

// ob-span-2 doesn't work :(
.span-2 {
  grid-column: span 2;
}

.entity-name-row {
  margin-bottom: var(--sw-spc-xs);
}

.entity-name-row-fields {
  align-items: start;
  width: 100%;
}

.display-contents {
  display: contents;
}

.entity-name-row-actions {
  margin-top: $ob-form-field-margin;
  height: $ob-standard-max-height;
  display: flex;
  align-items: center;
  justify-content: center;
}
