<div class="sw-wizard">
  @if (service.submissionId && service.partnerId) {
    <mat-horizontal-stepper #stepper [linear]="false" class="sw-stepper">
      <ng-template matStepperIcon="edit">
        <mat-icon [svgIcon]="'pencil'" />
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon [svgIcon]="'checkmark'" />
      </ng-template>
      @for (step of service.visibleSteps(); track step.id; let i = $index) {
        <mat-step [completed]="service.currentStepIndex() > i" [label]="step.labelKey | translate" />
      }
    </mat-horizontal-stepper>
    <div class="step-content-container">
      <router-outlet (activate)="onStepActivated($event)" />
    </div>
  }
</div>
