.step-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--sw-spc-xl);
  padding: 0 var(--sw-spc-xxl);
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  .actions-2 {
    display: flex;
    margin-left: auto;
    gap: var(--sw-spc-sm);
  }
}
