<div>
  @if (businessPartner() !== undefined) {
    <nav class="sectionNavigation">
      <a [routerLink]="AppRoutes.businessPartnerOverviewV2()" mat-button obButton="tertiary" tabindex="0">
        <mat-icon svgIcon="chevron_left" />
        {{ "eportal_global_btn_backToAdminOverview" | translate }}
      </a>
    </nav>

    <div class="general-alerts">
      <app-stateful-alert [visible]="alertProofContinueVisible()" storageKey="alertProofContinue" type="warning">
        <ng-container notification-content>
          {{ "eportal_adminOverview_alertContinue" | translate }}
        </ng-container>
      </app-stateful-alert>
      <app-stateful-alert
        [visible]="alertTrustOnboardingSuccessfulVisible()"
        storageKey="alertTrustOnboardingSuccessful"
        type="success"
      >
        <ng-container notification-content>
          {{ "eportal_adminOverview_alertSuccess" | translate }}
        </ng-container>
      </app-stateful-alert>
      <app-stateful-alert
        [visible]="alertTrustOnboardingInformationRequestedVisible()"
        storageKey="alertTrustOnboardingInformationRequested"
        storage="session"
        type="warning"
      >
        <ng-container notification-content>
          {{ "eportal_adminOverview_alert_informationRequested" | translate }}
        </ng-container>
      </app-stateful-alert>
    </div>

    <div class="page-header">
      <div class="sw-flex-space-between name-row">
        <div>
          <h1 class="ob-grow-3">{{ businessPartner()?.name }}</h1>
          <div class="ob-flex">
            <app-business-partner-trust-chip [businessPartner]="businessPartner()"></app-business-partner-trust-chip>
            <app-info-icon>
              <h3>{{ "eportal_adminOverview_upgradeTrustLevel_tooltip_title" | translate }}</h3>
              <p>{{ "eportal_adminOverview_upgradeTrustLevel_tooltip_text" | translate }}</p>
            </app-info-icon>
          </div>
        </div>
      </div>
      <app-business-partner-detail-actions
        [businessPartner]="businessPartner()"
        [identifiers]="dataSource.data"
        [trustOnboardingSubmission]="trustOnboardingSubmission()"
        [businessPartnerId]="businessPartnerId()"
        [remainingDidSlots]="remainingDidSlots()"
      />
    </div>

    <div class="ob-flex did-alerts">
      <app-stateful-alert [visible]="alertNoDIDsVisible()" storageKey="notificationNoDIDs" type="info">
        <ng-container notification-content>
          {{ "eportal_adminOverview_alertDIDsetup" | translate }}
        </ng-container>
      </app-stateful-alert>
    </div>
  }

  <div class="table-wrapper">
    <table
      [dataSource]="dataSource"
      class="ob-table"
      mat-table
      matSort
      matSortActive="updatedAt"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="did">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "eportal_global_adminDID_labelDID" | translate }}
        </th>
        <td *matCellDef="let element" class="truncate" mat-cell>{{ element.did }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "eportal_global_adminDID_labelSpace" | translate }}
        </th>
        <td *matCellDef="let element" class="truncate" mat-cell>{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "eportal_global_adminDID_labelDescription" | translate }}
        </th>
        <td *matCellDef="let element" class="truncate" mat-cell>{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "eportal_global_adminDID_labelStatus" | translate }}
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <app-identifier-base-onboarding-status
            [identifierStatus]="element.status"
          ></app-identifier-base-onboarding-status>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th *matHeaderCellDef mat-header-cell>{{ "eportal_global_adminDID_labelDetails" | translate }}</th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          <a
            [attr.aria-label]="'eportal_global_adminDID_tooltipDetails' | translate"
            [matTooltip]="'eportal_global_adminDID_tooltipDetails' | translate"
            [routerLink]="AppRoutes.identifierDetail(businessPartnerId(), element.id)"
            mat-icon-button
            obButton="secondary"
          >
            <mat-icon svgIcon="chevron_right" />
          </a>
        </td>
      </ng-container>

      @let displayColumns = ["did", "id", "description", "status", "details"];
      <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayColumns" mat-row></tr>
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="9999">{{ "eportal_global_table_noEntry" | translate }}</td>
      </tr>
    </table>
    <div class="table-footer">
      <div class="table-actions">
        <a
          [obButton]="noDids ? 'primary' : 'secondary'"
          [routerLink]="AppRoutes.identifierSetup(businessPartnerId())"
          data-cy="btnSetupNewDid"
          mat-button
          tabindex="0"
        >
          <mat-icon [class.icon-primary-color]="noDids" svgIcon="devhandover_self" />
          {{ "eportal_global_btnSec_setupDID" | translate }}
        </a>
        @if (remainingDidSlots() <= 0) {
          <span>
            {{ "eportal_global_status_availableDIDspace_noSpace" | translate }}
          </span>
        } @else {
          <span>
            {{ "eportal_global_status_availableDIDspace" | translate: { amount: remainingDidSlots() } }}
          </span>
        }
        <app-info-icon>
          <h3>{{ "eportal_adminOverview_didSpaces_tooltip_title" | translate }}</h3>
          <p>{{ "eportal_adminOverview_didSpaces_tooltip_text" | translate }}</p>
        </app-info-icon>
      </div>
      <div class="table-paginator-wrapper">
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="10"
          [style.visibility]="totalDIDs() > 10 ? 'visible' : 'hidden'"
          [showFirstLastButtons]="true"
          aria-label="{{ 'eportal_global_adminDID_paginator_aria_label' | translate }}"
          class="ob-grow-2"
        />
      </div>
    </div>
  </div>
</div>
